.b1{
		
    background: url('https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220__340.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    }

.t1{
    color: aliceblue;
    padding-top: 15%;
    padding-left: 10%;
    font-size: 120px;
    font-family: Algerian;
}
.img1{
    padding-left: 10%;
    padding-bottom: 15%;
}
.img2{
    border-radius:5%;
    height: 100%;
    width: 100%;
}
.t2{
    color: orange;
    font-family: Algerian;
    font-size:70px;
}
.t3{
    color: maroon;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    line-height:150px;
}